node_modules

!bower_components/
bower_components/*
!bower_components/polymer/
bower_components/polymer/*
!bower_components/polymer/polymer-element.html
!bower_components/webcomponentsjs/
bower_components/webcomponentsjs/*
!bower_components/webcomponentsjs/webcomponents-lite.js