<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="wc-modal">
  <template>
    <style>
      :host {
        contain: content;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
      }

      .modal-dialog {
        position: relative;
        width: auto;
        max-width: 600px;
        margin: 30px auto;
      }

      .modal-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
      }

      ::slotted(header) {
        padding: 15px !important;
        border-bottom: 1px solid #e5e5e5;
      }
      
      ::slotted(main) {
        position: relative;
        padding: 15px !important;
      }

      ::slotted(footer) {
        padding: 15px !important;
        text-align: right;
        border-top: 1px solid #e5e5e5;
      }
    </style>

<div class="modal-dialog">
  <div class="modal-content">
    <slot></slot>
  </div>
</div>
</template>

<script>
  class WcModal extends Polymer.Element {
    static get is() { return "wc-modal"; }

    static get config() {
      return {
        properties: {
          hasBackdrop: Boolean,
          allowScroll: Boolean,
          isOpen: {
            type: Boolean,
            observer: '_isOpenChanged'
          }
        }
      };
    }

    connectedCallback() {
      if (this.hasBackdrop) {
        this._prepareBackdrop();
      }

      var self = this;
      self.querySelectorAll('[close-modal]').forEach(e =>
        e.addEventListener('click', function () {
          self.isOpen = false;
        }));

      super.connectedCallback();
    }

    _prepareBackdrop() {
      this.backdrop = document.querySelector('#modal-backdrop');
      if (!this.backdrop) {
        this.backdrop = document.createElement('div');
        this.backdrop.id = 'modal-backdrop';
        var styles = {
          position: 'fixed',
          display: 'none',
          top: 0,
          right: 0,
          bottom: 0,
          left: 0,
          'z-index': 1040,
          'background-color': '#000',
          opacity: .5
        };

        for (var key in styles) this.backdrop.style[key] = styles[key];

        document.body.appendChild(this.backdrop);
      }
    }

    _open(oppened) {
      if (this.hasBackdrop) this.backdrop.style.display = 'block';
      this.style.display = 'block';
      this.dispatchEvent(new CustomEvent('openned'));
    }

    _close() {
      if (this.hasBackdrop) this.backdrop.style.display = 'none';

      this.style.display = 'none';
      this.dispatchEvent(new CustomEvent('closed'));
    }

    _isOpenChanged(oppened) {
      if (oppened) this._open();
      else this._close();
    }
  };

  // Register custom element definition using standard platform API
  customElements.define(WcModal.is, WcModal);

</script>
</dom-module>