<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="wc-popover">
<template>
    <slot></slot>
</template>

<script>
    class WcPopover extends Polymer.Element {
        static get is() { return 'wc-popover'; }


        static get config() {
            return {
                properties: {
                    target: String,
                    direction: String,
                }
            };
        }

        _bindStyles(elem, styles) {
            for (var key in styles) elem.style[key] = styles[key];
        }

        _create() {
            this.elem = document.createElement('div');
            this.elem.classList.add('wc-popover');
            this._bindStyles(this.elem, {
                position: 'absolute',
                padding: '5px',
                display: 'none',
                visibility: 'hidden',
                opacity: 0,
            });
            document.body.appendChild(this.elem);
        }
        _getPosition() {
            var contentRect = this.targetElem.getBoundingClientRect();

            this.elem.style.display = 'block';
            var elemRect = this.elem.getBoundingClientRect();

            var position = {};
            switch (this.direction) {
                case "top":
                    position = {
                        top: `${contentRect.top - elemRect.height}px`,
                        left: `${(contentRect.left + (contentRect.width / 2)) - (elemRect.width / 2)}px`
                    }
                    break;
                case "bottom":
                    position = {
                        top: `${contentRect.top + elemRect.height}px`,
                        left: `${(contentRect.left + (contentRect.width / 2)) - (elemRect.width / 2)}px`
                    }
                    break;
                case "left":
                    position = {
                        top: `${contentRect.top}px`,
                        left: `${(contentRect.left - elemRect.width)}px`
                    }
                    break;
                default:
                    position = {
                        top: `${contentRect.top}px`,
                        left: `${(contentRect.left + contentRect.width)}px`
                    }
                    break;
            };

            return position;
        }
        _show() {
            var styles = Object.assign({
                opacity: 1,
                display: 'block',
                visibility: 'visible',
                transition: 'opacity .3s ease-in-out'
            }, this._getPosition());
            this._bindStyles(this.elem, styles);
            this.elem.classList.add('in');
        }
        _hide() {
            var styles = Object.assign({
                display: 'none',
                visibility: 'hidden',
                opacity: 0,
            }, this._getPosition());
            this._bindStyles(this.elem, styles);
            this.elem.classList.remove('in');
        }
        connectedCallback() {
            var self = this;
            this._create();
            this.elem.innerHTML = this.innerHTML;
            this.innerHTML = "";

            this.targetElem = document.querySelector(this.target);
            this.targetElem.addEventListener('mouseenter', function () {
                self._show();
            });
            this.targetElem.addEventListener('mouseout', function () {
                self._hide();
            });
        }
    }

    // Register custom element definition using standard platform API
    customElements.define(WcPopover.is, WcPopover);
</script>
</dom-module>