<link rel="import" href="https://polygit2.appspot.com/components/polymer/polymer.html">

<dom-module id="wc-tabpanel">
    <template>
    <style>
    </style>

    <div class="wc-tabpanel">
        <content></content>
    </div>
</template>

<script>
    Polymer({
        is: "wc-tabpanel",
        properties: {
        },
        ready: function () {
            var self = this;
            
            
        }
    });
</script>
</dom-module>

<dom-module id="wc-tab">
    <template>
    <style>
        ::content > main{
            display: none;
        }

        ::content main.active {
            display: block;
        }
    </style>

    <content></content>
</template>

<script>
    Polymer({
        is: "wc-tab",
        properties: {
            active: Boolean
        },
        activate: function() {
            this.querySelector('main'). classList.add('active');
        },
        deactivate: function() {
            this.querySelector('main'). classList.remove('active');
        },
        toggle: function() {
            if(this.active)
                this.deactivate();
            else
                this.activate();
            this.active = !this.active;
        },
        ready: function () {
            var self = this;
            if(this.active) this.activate();
            else this.deactivate();

            this.querySelector('header').addEventListener('click', e => document.querySelectorAll('wc-tab').forEach(tab => tab.deactivate()));
        }
    });
</script>
</dom-module>