*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 26px;
    margin-bottom: 6px;
}

h2 {
    font-size: 22px;
    margin-bottom: 6px;
}

h3 {
    font-size: 18px;
    margin-bottom: 4px;
}

h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

.pull-left {
    display: block;
    float: left;
}

.pull-right {
    display: block;
    float: right;
}

.line {
    margin-bottom: 10px;
}

header {
    width: 100%;
    padding: 30px 200px;
    border-bottom: 1px solid #ccc;
}

.container {
    width: 100%;
    padding: 30px 100px 30px 100px;
}

aside {
    position: fixed;
    right: 100px;
    width: 16%;
}

aside li {
    list-style: none;
}

aside a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 15px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: right;
}
aside a:hover,
aside a:active {
    background-color: #eee;
}

section {
    width: 80%;
    margin-bottom: 30px;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.wc-tooltip {
    background-color: #ccc;
}

.wc-popover {
    background-color: #fff;
    border: 1px solid #ccc;
}

wc-carousel {
    width: 100%;
    max-height: 250px;
}