*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

.pull-left {
    display: block;
    float: left;
}

.pull-right {
    display: block;
    float: right;
}

.wc-tooltip {
    background-color: #ccc;
}

.wc-popover {
    background-color: #fff;
    border: 1px solid #ccc;
}

.container {
    width: 100%;
    padding: 30px;
}

.line {
    padding: 5px 10px;
}

wc-carousel {
    width: 100%;
    max-height: 250px;
    contain: content;
}

wc-carousel::after {
    display: block;
    content: '';
    padding-top: 75%; /* 4:3 = height is 75% of width */
}

wc-carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
}